body{
  background-image: url("images/back3.jpg");
  background-size: 100% auto;
  background-position: center center;
  text-align:center;
  margin:auto;
  padding:0;
}

.floatleft{
	float: left;
	display: flex;
}
.logo{
	margin-top: 20px;
	margin-left: 40px;
	font-family: 'Rye', cursive;
	font-size: 80px;
}
.main{
	margin-left: 12%;
}


.sidebar{
	 margin: 20px 50px 50px 50px;
	 height: 550px;
	 width: 180px;

}

.size{
	font-family: 'Chelsea Market', cursive;
	font-size: 130%;
}

.btn{
	margin-bottom: 4px;
}

.btnreset{
	width: 100%;
}

.figure{
	/* background-color: #ECE5DD; */
	margin: 20px 50px 0px -50px;
	/* height: 550px;
	width: 1100px; */
	margin-left: 10px;
}
.workingbar{
	margin-left: 6%;
	clear: left;
	float: left;
	display: flex;
}



.bar{
	margin-left: 1px;
	background-color: red;
}

#target-id{
	clear: left;
	float: left;
	display: flex;
}

.develop{
	clear: both;
	float: left;
	display: flex;
	margin-left: 470px;
	margin-top: -70px;
	font-family: 'Chelsea Market', cursive;
	font-size: 130%;
}


